    /* HeroesComponent's private CSS styles */
    .pallete {
        color:#1FB1C4;
        color: #E3AD36;
        color: #2C2B2A;
        color: #76D1D9;
        color: #2BA2B5;
    }
   
    @media all and (min-width: 900px) {
         .key { 
             font-size: 30px;
             
        }
        
    }

    @media all and (max-width: 899px) and (min-width: 600px) {
        .key{
            font-size: 5vw;
          }
        }
        
        @media all and (max-width: 599px) and (min-width: 50px) {
        .key{
            font-size: 6vw;
            min-width: 100vw;
          }
        }

      .key {
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgb(205, 237, 241);
      }

      .key:hover {
          background-color: rgb(255, 221, 109);
      }